# Desafio Stone DataChallenge 2022

## Autor: Marcos William Sasaki

In [1]:
#Import das bibliotecas utilizadas
import pandas as pd

In [6]:
#Importando arquivos de dados: 
#portfolio_clientes.csv , portfolio_comunicados.csv , portfolio_geral.csv , portfolio_tpv.csv
clientes=pd.read_csv("#DC2022/Dados_etc/Arquivos .csv/portfolio_clientes.csv")
comunicados=pd.read_csv("#DC2022/Dados_etc/Arquivos .csv/portfolio_comunicados.csv")
geral=pd.read_csv("#DC2022/Dados_etc/Arquivos .csv/portfolio_geral.csv")
tpv=pd.read_csv("#DC2022/Dados_etc/Arquivos .csv/portfolio_tpv.csv")

### Verificando existência de valores incosistentes

In [12]:
clientes.describe()

,nr_documento,tipo_empresa,cidade,estado,subsegmento,segmento
count,14405,14405,14405,14405,14405,14405
unique,14265,3,1502,28,16,9
top,87a732bde215343ec76e991108872691,PJ,São Paulo,SP,Alimentação Rápida,Alimentação
freq,2,7893,1040,3767,2959,5216

In [22]:
clientes.groupby("estado").nunique()

        nr_documento  tipo_empresa  cidade  subsegmento  segmento
estado
AC                33             3       2           11         6
AL               144             3      19           16         9
AM               142             3       5           14         8
AP                69             3       5           14         8
BA               795             3     118           16         9
CE               423             3      49           16         9
DF               505             3       3           16         9
ES               304             3      36           15         8
GO               557             3      69           16         9
MA               158             3      26           15         8
MG               909             3     178           16         9
MS               184             3      18           13         7
MT               231             3      29           15         9
ND                 3             1       1            2         2
PA               266             3      29           16         9
PB               172             3      27           16         9
PE               519             3      68           15         9
PI                70             3      14           11         7
PR              1203             3     140           16         9
RJ              1836             3      93           16         9
RN               231             3      30           15         9
RO                65             3      10           12         6
RR                38             3       3           10         5
RS               666             3      90           16         9
SC               791             3      93           16         9
SE               141             3      14           14         8
SP              3742             3     343           16         9
TO                72             3      14           14         8

In [21]:
clientes.groupby("tipo_empresa")["nr_documento"].count()

tipo_empresa
MEI    4843
PF     1669
PJ     7893
Name: nr_documento, dtype: int64

In [15]:
clientes.isnull().sum()

nr_documento    0
tipo_empresa    0
cidade          0
estado          0
subsegmento     0
segmento        0
dtype: int64